:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --header-background-color: rgb(200, 200, 200);

    --main-content-color: rgb(0, 0, 0);
    --main-background-color: rgb(255, 255, 255);
    --outline-color: rgb(0, 0, 0);

    --footer-background-color: rgb(30, 30, 30);
    --footer-content-color: rgb(230, 230, 230);

}

@media (prefers-color-scheme: dark) {
    :root {
        --header-background-color: rgb(40, 40, 40);

        --main-content-color: rgb(230, 230, 230);
        --main-background-color: rgb(55, 55, 55);
        --outline-color: rgb(0, 0, 0);

        --footer-background-color: rgb(30, 30, 30);
        --footer-content-color: rgb(230, 230, 230);
    }
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0px;

}

.fetch {
    opacity: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Header */

header {
    padding: 1.5rem;
    background-color: var(--header-background-color);
    color: var(--main-content-color);
}

header > h5 {
    padding-left: 2rem;
}

header > nav {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header > nav > a {
    color: var(--main-content-color);
}

/* Main content */

main {
    flex-grow: 1;
    background-color: var(--main-background-color);
}

.item {
    display: block;
    margin: 2rem;
    padding: 1rem;

    border-radius: 10px;
    outline: 3px solid black;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    color: var(--main-content-color);
    text-decoration: none;

    transition: box-shadow, outline, background-color 0.2s, 0.2s, 0.2s;

    
}

.item:hover {
    outline: 5px solid black;
    box-shadow: 11px 11px 15px rgba(0, 0, 0, 0.5);
}

.item > h2 {
    padding-bottom: 1rem;
}




/* Footer */

footer {
    padding: 1.5rem;

    color: var(--footer-content-color);
    background-color: var(--footer-background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    color: var(--footer-content-color) !important;
}